.container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  min-width: 99svw;
  min-height: 99svh;
  margin: 0;
}

.container .side-bar {
  /* padding: 20px; */
  width: 20vw;
  align-items: start;
  text-align: center;
  background-color: #5755ff;
  /* background: transparent; */
  /* border: 1px solid red; */

  & #title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;

    & img {
      width: 30px;
      height: 30px;
    }

    & p {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      margin: 0;
    }
  }

  & .links {
    align-self: stretch;
    background: transparent;
    margin-top: 50px;
    font-size: larger;
    /* color: #aeb7c4; */
    /* padding: 20px; */
  }

  & .links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: #d5d5ff;
    text-decoration: none;
  }

  & .links a:hover {
    background-color: #d5d5ff;
    color: #5755ff;
  }

}

.container .main {
  text-align: center;
  align-items: center;
  width: 100%;
}
